{% extends "base.html" %}
{% block content %}
<section class="jumbotron text-center"  style="background-image: url('https://c4.wallpaperflare.com/wallpaper/918/1005/109/tomorrowland-wallpaper-preview.jpg'); background-size: 100%;">
    <div class="jumbotron text-center" style="background: rgba(204, 204, 204, 0.7);">
        <h1 class="display-3">Program Applications - How can this program be used in future prospects?</h1>
        <h4>  Recycle AI provides incomparable future applications for an imminent world of sustainable waste management and reuse. The inexorable approach of our system has the goal to spread to the far corners of the earth, cleaning one bottle at a time. Are you ready?
        </h4>
         
    </div>
    </section>

<section class="jumbotron text-center"  style="background-image: url('https://c4.wallpaperflare.com/wallpaper/918/1005/109/tomorrowland-wallpaper-preview.jpg'); background-size: 100%;">
    <div class="jumbotron text-center" style="background: rgba(204, 204, 204, 0.7);">
        <h1 class="display-2">Robotics</h1>
        <h4>  Recycle AI provides incomparable future applications for an imminent world of sustainable waste management and reuse. The inexorable approach of our system has the goal to spread to the far corners of the earth, cleaning one bottle at a time. Are you ready?
        </h4>
         
    </div>
    </section>
<!-- 
  Recycle AI provides incomparable future applications for an imminent world of sustainable waste management and reuse. The inexorable approach of our system has the goal to spread to the far corners of the earth, cleaning one bottle at a time.
  From robotics to mobile app development, our system will provide real change to the world in ways that will stamp a permanent mark for future generations.  -->
{% endblock %}