{% extends "base.html" %}
{% block content %}
<body style="background-color:grey;">
<section class="jumbotron text-center"  style="background-image: url('https://i.pinimg.com/originals/9e/d8/1d/9ed81d27d0387378904369e4096f40a9.jpg'); background-size: 100%;">
    <div class="jumbotron text-center" style="background: rgba(204, 204, 204, 0.7) ">
        <h1 class="display-3"><strong>Program Applications - How can this program be used in future prospects?</strong></h1>
        <h4>  Recycle AI provides incomparable future applications for an imminent world of sustainable waste management and reuse. The inexorable approach of our system has the goal to spread to the far corners of the earth, cleaning one bottle at a time. Are you ready?
        </h4>
         
    </div>
    </section>

<section class="jumbotron text-center"  style="background-image: url('https://www.firstinspires.org/sites/default/files/uploads/hero_headers/header-image_1.jpg'); background-size: 100%; background-color: blue">
    <div class="jumbotron text-center" style="background: rgba(204, 204, 204, 0.7);">
        <h1 class="display-2"><strong>Robotics</strong></h1>
        <h3>  One of Recycle AI's most prospective future applications is to be put on autonomous self driving robots and collect garbage/recycling off the streets, forests and oceans to help cleanup and recycle materials. Many developing countries have massive landfills completely filled with garbage and recyclable materials. These materials come from the country's own pollution, but also from devloped countries that send their piles of trash elsewhere. To organize such massive-scaled garbage collection, the Recycle AI robot(s) (with some similar aspects to wall-e) could clean up areas that have poor infrastructure and need more manpower to sort and organize tons of garbage. These robots, with Recycle AI, can be applied to drones, automated land droids, and boat robots to help clean and recycle where it matters most, one bottle at a time.
        </h3>
         
    </div>
    </section>

    <section class="jumbotron text-center"  style="background-image: url('https://www.arcgis.com/sharing/rest/content/items/d4effbca783844409bcbac9ff16a2774/resources/1579723494120.jpeg?w=2400'); background-size: 100%; background-color: blue">
    <div class="jumbotron text-center" style="background: rgba(204, 204, 204, 0.7);">
        <h1 class="display-2"><strong>The Great Pacific Garbage Patch</strong></h1>
    </div>
    </section>
</body>
<footer>
  <div class = "jumbotron text-center" style="position: absolute; width: 100%; height: 2.5rem; background-color: rgb(20,150,85)" >
    <a style= " color: pink;" href="mailto:recycle.AI@gmail.com" target="_blank" rel="nofollow">Email Us</a>
    <p style="color:white;">Tel: 1-800-362-3746</p>
  </div>
</footer>
<!-- 
  Recycle AI provides incomparable future applications for an imminent world of sustainable waste management and reuse. The inexorable approach of our system has the goal to spread to the far corners of the earth, cleaning one bottle at a time.
  From robotics to mobile app development, our system will provide real change to the world in ways that will stamp a permanent mark for future generations.  -->
{% endblock %}